<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="../static/HyellowIcon.png">
    <body spellcheck="false"; text="#FAFF00" style="background-color:#1F1E1E; font-family: 'Montserrat',serif; 
    font-size: 25px; margin-left: 50px; margin-right: 50;">
        <link rel="stylesheet" href="../static/style_signup.css">
        <h1 style="font-size: 50px; font-weight: bold";>
            <b>A Couple More Things</b>
        </h1> 
        <h3>
            Tell us a little bit more about you.
        </h3>
        <form action=chooselocation method="post" id="traits"></form>
        <table>
            
                <tr>
                    <tr>
                    <td>
                        Education <input type="text" name="education" form="traits">
                    </td>
                    <td>
                        School <input type="text" name="school" form="traits">
                    </td>
                    <td>
                        Major <input type="text" name="major" form="traits">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        Job ; <input type="text" name="job" form="traits">
                    </td>
                    <td>
                        Height <input type="text" name="height" form="traits">
                    </td>
                    <td>
                        Body Type <input type="text" name="bodyType" form="traits">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        Ethnicity <input type="text" name="ethnicity" form="traits">
                    </td>
                    <td>
                        Religion <input type="text" name="religion" form="traits">
                    </td>
                    <td>
                        Political View <input type="text" name="politicalView" form="traits">
                    </td>
                    </tr>
                </tr>
                <tr name="rsubmit">
                    <td colspan="2"><input type="submit" form="login"></td>
                </tr>
        </table>
        


    </body>

   

    </html>