<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Hyellow</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../static/style_signup.css">
    <link rel="icon" href="../static/HyellowIcon.png">
</head>
<body>
    <form action=/login method="post" id="login"></form>
    <table>
        <tr>
            <th>Log In</th>
        </tr>
            
            <tr>
                <td colspan="2"><input type="email" name="email" placeholder="Email" form="login" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="password" name="password" placeholder="Password" form="login" required></td>
            </tr>
           
            <tr id="rsubmit">
                <td colspan="2"><input type="submit" form="login"></td>
            </tr>
    </table>
</body>
</html>