<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="../static/HyellowIcon.png">
</head>
    <body spellcheck="false"; text="#FAFF00" style="background-color:#1F1E1E; font-family: 'Montserrat',serif; 
    font-size: 25px; margin-left: 50px; margin-right: 50;">
        
        <h1 style="font-size: 50px; font-weight: bold";>
            <b>How Does it Work?</b>
        </h1> 

        <h2>
             <b>Matching Parameters</b>
        </h2>
        <h3>
           Match according to your MBTI, Color Test, Enneagram, Love Language, Astrological sign, Political views and more. 
        </h3>
        <h2><br>
            <b>Give Everyone a Chance</b>
        </h2>
        <h3>
           Psychology says the more you look at someone, the more likely you are to find them attractive. Hyellow only allows users to press the ‘nay’ button after 3 seconds to ensure everyone gets a real chance. 
        </h3>
        <h2><br>
           <b>Whatever Rocks Your Boat</b>
        </h2>
        <h3>
           If you’re a gamer, you can see each other’s games and trophies, If you’re a programmer you can see each other’s GitHub pages. There’s something for everyone. 
        </h3>













    </body>

   

</html>