<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        .button {
            border: none;
            color: rgb(3, 3, 3);
            padding: 30px 64px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button1 {
            background-color: #FAFF00;
            border-radius: 50px;
        }
    </style>
    
    
    <body spellcheck="false"; text="#FAFF00" style="background-color:#1F1E1E; font-family: 'Montserrat',serif; 
    font-size: 40px; margin-left: 50px; margin-right: 50;">
        
        <h1>
           <center> <b> Step 1. Take our short quiz to determine your personality based on a famous personality test </b></center>
        </h1> 

        <h1>
            <center><b>Step 2. Start matching!</b></center>
        </h1>

        <p>
            <center><a href="questionnaireMBTI.html"><button class="button button1" > <span style="font-family: 'Montserrat',serif;">
                Start Quiz!</span></button></a> </center>
        </p>
        </body>
        </html>