<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="" alt="Profile Picture">
        <div class="Logo">
            <img src="" alt="Logo">
            <h1>Hyellow</h1>
        </div>
        <img src="" alt="Setting">
    </nav>
    <div>
        <div class="matches">
            <div class="matchTitle">
                <h2>Matches</h2>
                <img src="" alt="Message Button">
            </div>
            <div class="profiles">
                <div class="matchedProfile">
                    <img src="" alt="MatchedProfilePicture">
                    <h3>Profile 1</h3>
                </div>
                <div class="matchedProfile">
                    <img src="" alt="MatchedProfilePicture">
                    <h3>Profile 1</h3>
                </div>
                <div class="matchedProfile">
                    <img src="" alt="MatchedProfilePicture">
                    <h3>Profile 1</h3>
                </div>
            </div>
        </div>
        <div class="matchingArea">
            <div class="card">
                <div class="firstCard">
                    <img src="" alt="Profile Picture">
                    <div class="info">
                        <div class="nameAndAge">
                            <h2>Emily</h2>
                            <h2>|</h2>
                            <h2>21</h2>
                        </div>
                        <div class="mbtiAndAstro">
                            <h3>INTJ</h3>
                            <h3>|</h3>
                            <h3>Leo</h3>
                        </div>
                        <div class="bio">
                            <h1>"</h1>
                            <h2>Let's walk my dog together.</h2>
                            <h1>"</h1>
                        </div>
                    </div>
                </div>
                <div class="secondCard">

                </div>
            </div>
            <div class="rightOrLeft">
                
            </div>
        </div>
    </div>
</body>
</html>